@font-face {
  font-family: 'ubuntul';
      src: url('../font/Ubuntu-L.ttf')  format('truetype');
}
@font-face {
  font-family: 'ubuntum';
      src: url('../font/Ubuntu-M.ttf')  format('truetype');
}
@font-face {
  font-family: 'droid';
      src: url('../font/DroidNaskh-Regular.ttf')  format('truetype');
}
@font-face {
  font-family: 'vazir';
      src: url('../font/Vazir.ttf')  format('truetype');
}
.item {
text-align: center !important;
border: black;
box-shadow: 1px 2px 5px 1px gray !important;
padding: 1.42vh;
margin-top: 5vh;
height: 10vh;
line-height: 10vh;
color: white;
background: #52b152;
background: -moz-linear-gradient(left, #52b152 33%, #008a00 88%, #0e7000 100%);
background: -webkit-linear-gradient(left, #52b152 33%,#008a00 88%,#0e7000 100%);
background: linear-gradient(to right, #52b152 33%,#008a00 88%,#0e7000 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52b152', endColorstr='#0e7000',GradientType=1 );
}
html {
background: url("../images/1.jpg") repeat center fixed;
background-size: cover;
font-family: 'vazir','ubuntum';
font-size: 26px;
overflow: hidden;
}
.space {
height: 10vh;
}
.menu-items {
padding: 20px;
}


/* renkontoj */
.player { 
width: 60vw !important;
height: 2vh;

 }
.simple-player-container { 
width: 60vw !important;
direction: ltr !important;
opacity: 0.95;
padding: 4px 10px 5px 5px !important;
 }
.simpleplayer-play-control { 
background-image: url('../images/play.png');
 }
#player-c {
direction: rtl;
margin-right: 0px;
margin-top:-10px;
/*height: 5vh;*/
font-size:14px;
}

.view { 
height: 40vh;
background-color: white;
opacity: 0.68;
box-shadow: 1px 2px 5px 1px gray;
text-indent:20px !important;
overflow-y:scroll;
padding: 15px;
 }
#fa {
font-family: 'droid'; 
font-size: 14px;
direction: rtl;
margin-top: 1vh;
 }
#eo {
font-size: 14px;
direction: ltr;
}
.eliri {
padding: 0px !important;
margin-top: 2px !important;
background: #52b152;
width: 28vw;
border: solid #61aa67;
border-radius: 5px;
color: white;
 }
#eliri2{ 
height:44px;
 }
#renkontoj { 
overflow-y: scroll !important;
 }
.button { 
 cursor:pointer !important;
 }
button { 
 cursor:pointer !important;
 }
.agordoj { 
height: 20vh;
cursor: initial !important;
 }
#fonttextbox{ 
text-align:center;
 }
